extends homepage.pug

block css
    style
        include ../public/stylesheets/homepage.css
        include ../public/stylesheets/myartifacts.css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')


block content
    .container-fluid.fill-height.fade-in
        .row
            .col-xs-12.col-sm-12
                .row
                    .col
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                        h2.text-center.white-transparent #{artifact.title}
                        br
                    .col.text-right
                        //if (admin)
                        a.btn.btn-outline-secondary.btn-sm.mr-3(href='/home' data-toggle='modal' data-target='#modalUpdateArtifact')
                            | Edit artifact
                        button.btn-danger.btn-sm( method ='GET' action = "/deleteartifact", onclick="return confirm('Are you sure? This action cannot be undone')") Delete Artifact



                        #modalUpdateArtifact.modal.fade.text-left(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')

                            .modal-dialog(role='document')
                                form(method='POST' action='/artifact/update').general
                                    .modal-content
                                        .modal-header.text-center
                                            h4.modal-title.w-100.font-weight-bold Edit #{artifact.title}
                                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                span(aria-hidden='true') &times;


                                        .modal-body.mx-3
                                            .md-form.mb-5
                                                label.font-weight-bold(for='artifactname') Artifact Name*
                                                input.form-control.fullrow#artifactname(type='text', name='Artifact Name', value=artifact.title)

                                            .md-form.mb-5
                                                label.font-weight-bold(for='description') Description*
                                                .input-group
                                                    textarea.form-control#description(type='text',name='description', value=artifact.description, rows='3')

                                            .md-form.mb-5.text-center
                                                p.font-weight-bold Upload Image (optional)
                                                img.mb-2#preview(src=artifact.photo)
                                                input.justify-content-center#pad( type='file' onchange='previewFile()' name = 'image' accept="image/*")


                                        .modal-footer.justify-content-center
                                            button.btn-danger.btn-sm( method ="GET" action = "/deleteartifact", onclick="return confirm('Are you sure? This action cannot be undone')") Delete Artifact
                                            button.btn.btn-primary(type='submit') Update








        .row
            .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3
                nav-collapse.fixed-left.dropdown-menu-left
                    .vertical-menu.mr-4

                        h2
                            a(href='/myartifacts',style="color:#666666;") My Artifacts
                        hr.my-4
                        h2(style = "color: dimgrey;") Groups
                        br
                        each family in familygroups
                            .row
                                .col-2
                                    i.material-icons group
                                .col-10
                                    a(href = `/view/${family._id}`, style="color:#666666;") #{family.title}
                            br
                        if (familygroups)
                            hr.my-4
                        a(href='/events',style="color:#666666;") Events
                        br
                        br


            .col-xs-12.col-sm-12.col-md-8.col-lg-9.col-xl-9#backgroundwelcome


                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-6

                        p.font-weight-bold Family: #{familyname}

                        p #{artifact.description}


                        br
                        hr.my-4
                        p#smallsize Uploaded by #{owner} on #{artifact.created}
                        br


                        br

                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
                        img.responsive(src=artifact.photo)
                        br
                        br





                .row.bootstrap.snippets
                    .col-md-12.col-sm-12.col-lg-12.col-xl-12
                        .comment-wrapper
                            .panel.panel-info
                                .panel-heading.font-weight-bold
                                    | Comment panel

                                .panel-body
                                    form(method = "POST" action = "/post")

                                        textarea.form-control(placeholder='write a comment...', rows='3', name = 'comment')
                                        br
                                        button.btn.btn-info.pull-right(type='submit' value = 'Submit') Post
                                    br



                                    br

                                    ul.media-list

                                    each comment in comments

                                        li.media
                                            a.pull-left(href='#')
                                                img.img-circle(src=comment.photo)
                                            .media-body
                                                span.text-muted.pull-right
                                                    small.text-muted #{comment.created}
                                                    button.btn(method='GET' action='/deletecomment', onclick="return confirm('Are you sure? This action cannot be undone')")
                                                      i.fa.fa-trash

                                                strong.text-success #{comment.ownername}

                                                p
                                                    | #{comment.content}

                                                hr.my-4






