extends homepage.pug

block css
    style
        include ../public/stylesheets/homepage.css
        include ../public/stylesheets/myantiques.css

block content
    .container-fluid.fill-height.fade-in
        .row
            .col-xs-12.col-sm-12.col-md-3.col-lg-2.col-xl-2(style={
                'background-color': 'white;'
            })
                nav-collapse.fixed-left.dropdown-menu-left
                    .vertical-menu.mr-4
                        br
                        a(href='/myantiques',style="color:#666666;") My Artifacts
                        hr.my-4
                        each family in familygroups
                            a(href = `/view/${family._id}`, style="color:#666666;") #{family.title}
                            br
                        if (familygroups)
                            hr.my-4
                        a(href='/events',style="color:#666666;") Events
                        br


            .col-xs-12.col-sm-12.col-md-9.col-lg-10.col-xl-10#backgroundwelcome

                .row

                    .col
                    .col
                        if(session)
                            h2.text-center.white-transparent #{group.title}
                    .col.text-right

                        a.btn.btn-default.btn-rounded.mb-4.my-auto(href='/home' data-toggle='modal' data-target='#modalRegisterForm')
                            | Edit Group Details


                .row
                    .col
                        h1 #{artifact.title}
                        br

                        p #{artifact.description}
                    .col
                        img(src=artifact.photo)
                        

                .row
                    .col
                        h3 Uploaded by #name of owner
                .row
                    .col
                        button.btn-outline-secondary.btn-lg(href = "/delete") Delete Artifact
                        br
                        br


                .row.bootstrap.snippets
                    .col-md-6.col-md-offset-2.col-sm-12
                        .comment-wrapper
                            .panel.panel-info
                                .panel-heading
                                    | Comment panel
                                .panel-body
                                    textarea.form-control(placeholder='write a comment...', rows='3')
                                    br
                                    button.btn.btn-info.pull-right(type='button') Post
                                    .clearfix
                                    hr
                                    ul.media-list

                                    each comment in comments

                                        li.media
                                            a.pull-left(href='#')
                                                img.img-circle(src=comment.photo)
                                            .media-body
                                                span.text-muted.pull-right
                                                    small.text-muted 30 min ago
                                                strong.text-success name of person
                                                p
                                                    | comment here the # thing

                                        li.media
                                            a.pull-left(href='#')
                                                img.img-circle(src='https://bootdey.com/img/Content/user_2.jpg', alt='')
                                            .media-body
                                                span.text-muted.pull-right
                                                    small.text-muted 30 min ago
                                                strong.text-success @LaurenceCorreil
                                                p
                                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    | Lorem ipsum dolor
                                                    a(href='#') #ipsumdolor
                                                    | adipiscing elit.
                                        li.media
                                            a.pull-left(href='#')
                                                img.img-circle(src='https://bootdey.com/img/Content/user_3.jpg', alt='')
                                            .media-body
                                                span.text-muted.pull-right
                                                    small.text-muted 30 min ago
                                                strong.text-success @JohnNida
                                                p
                                                    | Lorem ipsum dolor
                                                    a(href='#') #sitamet
                                                    |  sit amet, consectetur adipiscing elit.








