extends family.pug

block css
    style
        include ../public/stylesheets/family.css
block content
    .container-fluid.fill-height.fade-in
        .row

            .col-xs-12.col-sm-12
                .row
                    .col
                        if(session)
                            h2.text-center #{group.title}

        .row
            .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3
                nav-collapse.fixed-left.dropdown-menu-left
                    .vertical-menu.mr-4
                        br
                        .row
                            .col-2
                                i.material-icons keyboard_arrow_left
                            .col-10
                                a.tabstyle(href='/home') Back
                        hr.my-4

                        .row
                            .col
                                a.active(href = `/view/${group._id}/info` style = "font-weight: bolder; text-decoration: none;") About

                        br
                        .row
                            .col
                                a.tabstyle(href=`/view/${group._id}`) Artifacts

                        br
                        .row
                            .col
                                a.tabstyle(href = `/view/${group._id}/members`) Add Members
                        br
                        .row
                            .col
                                if (user._id.equals(owner.id))
                                    a.tabstyle(href='/home' data-toggle='modal' data-target='#modalFamilyForm',style="color:#666666;") More
                                    #modalFamilyForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
                                        .modal-dialog(role='document')
                                            form(method='POST' action='')
                                                .modal-content
                                                    .modal-header.text-center
                                                        h4.modal-title.w-100.font-weight-bold Update My Family
                                                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                            span(aria-hidden='true') &times;
                                                    .modal-body.mx-3
                                                        .md-form.mb-5
                                                            label.font-weight-bold(for='title') Title
                                                            input#title.form-control(type='text', placeholder=group.title name='title', value = group.title)
                                                        .md-form.mb-5
                                                            label.font-weight-bold(for='desc') Description
                                                            .input-group
                                                                textarea#desc.form-control(type='text', placeholder=group.description, name='description',value = group.description)

                                                            label.font-weight-bold(for='owner') Admin:
                                                            select#owner(type='text', placeholder=group.owner name='owner', value = group.owner)
                                                                for member in members
                                                                    option(value=`${member._id}`) #{member.fname}

                                                    .modal-footer.justify-content-center
                                else
                                    a.tabstyle(href = `/leaveGroup`) Leave group                            button.btn.btn-primary(type='submit') Update
                        hr.my-4

            .col-xs-12.col-sm-12.col-md-8.col-lg-9.col-xl-9
                .row
                    .col
                        .jumbotron
                            .row
                                .col
                                    h2 About #{group.title}
                                    hr.my-4

                            .row
                                .col
                                    p #{group.description}
                            .row
                                .col
                                    p Members #{group.members.length}
                                    each member in group.members
                                        img(src=member.photo, style="width:15rem;height:15rem; min-width: 15rem;")



