extends homepage.pug

block css
    style
        include ../public/stylesheets/homepage.css
        include ../public/stylesheets/family.css

block content
    .container-fluid.fill-height.fade-in
        .row

            .col-xs-12.col-sm-12
                .row


                    .col
                    .col-xs-12.col-sm-12.col-md-8.col-lg-8.col-xl-8

                        if(session)
                            h2.text-center #{group.title}
                    .col.text-right




        .row

            .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3
                nav-collapse.fixed-left.dropdown-menu-left
                    .vertical-menu.mr-4

                        br
                        .row
                            .col-2
                                i.material-icons keyboard_arrow_left
                            .col-10
                                a(href='/home') Back

                        hr.my-4

                        .row
                            .col
                                a(href = `/view/${group._id}/info/`) About

                        br
                        .row
                            .col
                                a.active(href=`/view/${group._id}` style = "font-weight: bolder;") Artifacts

                        br
                        .row
                            .col
                                a(href = `/view/${group._id}/members`) Members
                        br
                        .row
                            .col
                                if (user._id.equals(owner.id))
                                    a(href='/home' data-toggle='modal' data-target='#modalFamilyForm',style="color:#666666;") Edit

                                    #modalFamilyForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
                                        .modal-dialog(role='document')
                                            form(method='POST' action='/family/update')
                                                .modal-content
                                                    .modal-header.text-center
                                                        h4.modal-title.w-100.font-weight-bold Update #{group.title}
                                                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                            span(aria-hidden='true') &times;
                                                    .modal-body.mx-3
                                                        .md-form.mb-5
                                                            label.font-weight-bold(for='title') Title
                                                            input#title.form-control(type='text', placeholder='Title*' name='title', value = group.title)
                                                        .md-form.mb-5
                                                            label.font-weight-bold(for='desc') Description
                                                            .input-group
                                                                textarea#desc.form-control(type='text', placeholder='Description*', name='description',value = group.description)

                                                            label.font-weight-bold(for='owner') Admin:
                                                            select#owner(type='text', placeholder='Admin' name='owner', value = group.owner)
                                                                for member in members
                                                                    option(value=`${member._id}`) #{member.fname}

                                                    .modal-footer.justify-content-center
                                                        button.btn-danger.btn-sm( method ="POST" action = "/deletegroup", onclick="return confirm('Are you sure? This action cannot be undone')") Delete Artifact
                                                        button.btn.btn-primary(type='submit') Update
                        hr.my-4

            .col-xs-12.col-sm-12.col-md-8.col-lg-9.col-xl-9.cardzone
                .row
                    .col-xs-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.justify-content-center.d-flex
                        .card.mb-4.mr-5(style=' width: 15rem; min-width: 15rem; height: 15rem;')
                            // Button trigger modal
                            //button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal')
                            a.btn.btn-default.btn-rounded.mb-4.addfamily(href='/home' data-toggle='modal' data-target='#modalArtifactForm')
                                | Add Artifact

                            #modalArtifactForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')

                                .modal-dialog(role='document')
                                    form(method='POST' action='/addartifact', enctype = "multipart/form-data")
                                        .modal-content
                                            .modal-header.text-center
                                                h4.modal-title.w-100.font-weight-bold Add an artifact
                                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                    span(aria-hidden='true') &times;
                                            .modal-body.mx-3
                                                .md-form.mb-5
                                                    label.font-weight-bold(for='familyname') Title
                                                    input#familyname.form-control(type='text', placeholder='Title*' name='title', required)
                                                .md-form.mb-5
                                                    label.font-weight-bold(for='description') Description
                                                    .input-group
                                                        textarea#description.form-control(type='text', placeholder='Description*', name='description',required)
                                                .md-form.mb-5
                                                    p.font-weight-bold Upload Image (optional)
                                                    img#preview(src=file)
                                                    input#pad( type='file' onchange='previewFile()' name = 'image')

                                            .modal-footer.justify-content-center
                                                button.btn.btn-primary(type='submit') Add

                    each artifact in artifacts
                        .col-xs-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.justify-content-center.d-flex
                            .card.mb-4.mr-5(style='width: 15rem; min-width: 15rem; height: fit-content;')
                                .d-flex
                                    a(href = `/artifact/view/${artifact._id}`)
                                        img.card-img-top.image-custom(src=artifact.photo, style="width:15rem;height:15rem;")
                                        .card-body.flex-fill
                                            .row
                                                h5.card-title #{artifact.title}
                                            .row
                                                p.listingdescription #{artifact.description}

            // upload image for create group
            script.
                function previewFile() {
                    var preview = document.querySelector('img');
                    var file = document.querySelector('input[type=file]').files[0];
                    var reader = new FileReader();

                    reader.addEventListener("load", function (e) {
                        //document.getElementById("b64").innerHTML = e.target.result;
                        preview.src = reader.result.toString();
                        document.getElementById('b64').value = e.target.result;
                    }, false);

                    if (file) {
                        reader.readAsDataURL(file);
                    }
                }
