extends layout

block css
    style
        include ../public/stylesheets/homepage.css
block content
    .container-fluid.fill-height.fade-in
        .row
            .col-xs-12.col-sm-12#backgroundwelcome

                if(session)
                    h2.text-center.white-transparent Welcome #{name}

        .row
            .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3
                nav-collapse.fixed-left.dropdown-menu-left

                    .vertical-menu.mr-4

                        a(href='/myantiques',style="color:#666666;") My Artifacts
                        hr.my-4
                        p(style = "color: dimgrey;") Groups
                        each family in familygroups
                            .row
                                .col-2
                                    i.material-icons group
                                .col-10
                                    a(href = `/view/${family._id}`, style="color:#666666;") #{family.title}
                            br
                        if (familygroups)
                            hr.my-4
                        a(href='/events',style="color:#666666;") Events
                        br
                        br



            .col-xs-12.col-sm-12.col-md-8.col-lg-9.col-xl-9.fade-in.cardzone

                .row.text-center
                    each family in familygroups
                        .col-xs-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                            .card.mb-4.mr-5(style='width: 15rem; height: fit-content; min-width: 15rem;')
                                a(href = `/view/${family._id}`)
                                    img.card-img-top.image-custom(src=family.photo, style="width:15rem;height:15rem; min-width: 15rem;")
                                    .card-body.flex-fill
                                        .row
                                            h5.card-title #{family.title}

                    .col-xs-12.col-sm-12.col-md-6.col-lg-4.col-xl-4

                        .card.mb-4.mr-5(style='width: 15rem; height: 15rem; min-width: 15rem;')
                            // Button trigger modal
                            //button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal')
                            a.btn.btn-default.btn-rounded.mb-4.addfamily(href='/home' data-toggle='modal' data-target='#modalFamilyForm')
                                | Create Family Group
                            #modalFamilyForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
                                .modal-dialog(role='document')
                                    form(method='POST' action='/create', enctype = "multipart/form-data")
                                        .modal-content
                                            .modal-header.text-center
                                                h4.modal-title.w-100.font-weight-bold Create a Family

                                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                    span(aria-hidden='true') &times;
                                            .modal-body.mx-3
                                                .md-form.mb-5
                                                    label.font-weight-bold(for='familyname') Family Name
                                                    input#familyname.form-control(type='text', placeholder='Family Name*' name='title', required)
                                                .md-form.mb-5
                                                    label.font-weight-bold(for='description') Description
                                                    .input-group
                                                        textarea#description.form-control(type='text', placeholder='Description*', name='description',required)
                                                .md-form.mb-5
                                                    p.font-weight-bold Upload Image (optional)
                                                    img#preview(src=file)
                                                    input#pad( type='file' onchange='previewFile()' name = 'image')

                                            .modal-footer.d-flex.justify-content-center
                                                button.btn.btn-primary(href='/home' type='submit') Create Family


    // upload image for create group
    script.
        function previewFile() {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function (e) {
                //document.getElementById("b64").innerHTML = e.target.result;
                preview.src = reader.result.toString();
                document.getElementById('b64').value = e.target.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }





