doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")


    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZg6MfFazIzoXFBuQ5InJDj3590geYw-o&libraries=places=activatePlacesSearch" async = '' defer = '')
    title= title

    block css
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font.css')
    link(rel='icon', type='image/jpg', href="https://i.ibb.co/xXLBS8S/I-1.png" alt = "Inherit Logo")


    style.
      @import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Biryani:900&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');

  header

    nav.navbar.navbar-expand-md.navbar-light.fixed-top.white-bg#navtop
      if (session)
        a.navbar-brand#handwrite(href = '/') INHERIT
      else
        a.navbar-brand#handwrite(href = '/') INHERIT



      button.navbar-toggler(type = "button" data-toggle = "collapse" data-target = "#navbarResponsive")
        span.navbar-toggler-icon

      div.collapse.navbar-collapse#navbarResponsive
        ul.navbar-nav.ml-auto(style='color: white;')

          if (session)
            li.nav-item.d-none.d-lg-block.d-xl-block
              img(src = user.photo style = "width: 2rem; height: 2rem; border-radius:50%;")

            li.nav-item
              a(href=`/profile/${user._id}`).nav-link.text-uppercase #{user.fname}
            li.nav-item
              a.nav-link(href = "/home") HOME

            li.nav-item
              a(href=`/profile/${user._id}`).nav-link.text-uppercase #{user.fname}
            li.nav-item
              a.nav-link(href = "/") HOME
            li.nav-item.dropdown.pull-right
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') PROFILE
              .dropdown-menu.dropdown-left-manual(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='/settings') Settings
                .dropdown-divider
                a.dropdown-item(href='/logout') Logout


          else
            li.nav-item
              a.nav-link(href = "/signup") SIGN UP
            li.nav-item
              a.nav-link(href = "/login") LOGIN
    script(data-ad-client='ca-pub-3112071443703358' async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')


  body

    block content



  footer
    br
    hr.my-4
    p.text-center
      small Copyright (c) Project Inheri
