extends family.pug

block css
    style
        include ../public/stylesheets/family.css

block content
    .container-fluid.fill-height.fade-in
        .row
            .col
            .col-xs-12.col-sm-12.col-md-8.col-lg-8.col-xl-8
                if(session)
                    h2.text-center #{group.title}

        .row
            .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3
                nav-collapse.fixed-left.dropdown-menu-left
                    .vertical-menu.mr-4

                        br
                        .row
                            .col-2
                                i.material-icons keyboard_arrow_left
                            .col-10
                                a(href='/home') Back

                        hr.my-4

                        .row
                            .col
                                a(href = `/view/${group._id}/info/`) About

                        br
                        .row
                            .col
                                a.active(href=`/view/${group._id}` style = "font-weight: bolder;") Artifacts

                        br
                        .row
                            .col
                                a(href = `/view/${group._id}/members`) Members
                        br
                        .row
                            .col
                                a(href='/home' data-toggle='modal' data-target='#modalFamilyForm',style="color:#666666;") Edit

                                #modalFamilyForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
                                    .modal-dialog(role='document')
                                        form(method='POST' action='/family/update')
                                            .modal-content
                                                .modal-header.text-center
                                                    h4.modal-title.w-100.font-weight-bold Update #{group.title}
                                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                        span(aria-hidden='true') &times;
                                                .modal-body.mx-3
                                                    .md-form.mb-5
                                                        label.font-weight-bold(for='title') Title
                                                        input#title.form-control(type='text', placeholder='Title*' name='title', value = group.title)
                                                    .md-form.mb-5
                                                        label.font-weight-bold(for='desc') Description
                                                        .input-group
                                                            textarea#desc.form-control(type='text', placeholder='Description*', name='description',value = group.description)

                                                        label.font-weight-bold(for='owner') Admin:
                                                        select#owner(type='text', placeholder='Admin' name='owner', value = group.owner)
                                                            for member in members
                                                                option(value=`${member._id}`) #{member.fname}

                                                .modal-footer.justify-content-center
                                                    button.btn-danger.btn-sm( method ="POST" action = "/deletegroup", onclick="return confirm('Are you sure? This action cannot be undone')") Delete Artifact
                                                    button.btn.btn-primary(type='submit') Update
                        hr.my-4
            .col
                br
                .row
                    .col
                    .col-xs-7.col-sm-7.col-md-7.col-lg-7.col-xl-7(style = "margin-left: 10%;")
                        form.form-inline.my-2.my-lg-0.ml-auto(id = 'search', method = 'GET', action = "/search", autocomplete = 'off')
                            input(type = 'hidden', name = 'users', value = user, autocomplete = "off")
                            input#searchbar(type = 'text', name = 'input', placeholder = "Search", list = 'datalist', autocomplete = "off" onkeyup = "filterList()")
                            datalist#datalist
                    .col
                br
                .row
                    .col-xs-12.col-sm-12.col-md-8.col-lg-9.col-xl-9.fade-in.cardzone
                        if (Object.keys(members).length > 0)
                            ul#myUL
                                each member in members
                                    .col-xs-6.col-sm-6.col-md-3.col-lg-3.col-xl-3.justify-content-center.d-flex

                                        if !(member._id in group.members)
                                            li(style = "list-style-type: none;")
                                                a
                                                    br
                                                    .row.text-center
                                                        .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-4.justify-content-center.d-flex
                                                            .card.mb-4.mr-5(style='width: 15rem; height: fit-content; min-width: 15rem;')
                                                                if(member.photo)
                                                                    img.card-img-top.image-custom(src=member.photo, style="width:15rem;height:15rem; min-width: 15rem;")
                                                                else
                                                                    img.card-img-top.image-custom(src="https://icon-library.net/images/no-profile-picture-icon/no-profile-picture-icon-13.jpg", style="width:15rem;height:15rem; min-width: 15rem;" alt = member.name)
                                                                .card-body.flex-fill
                                                                    .row.text-center.justify-content-center
                                                                        .col-7
                                                                            p
                                                                                strong.card-title #{member.name}
                                                                        .col-3
                                                                            button.btn.btn-primary#addbutton( method ="POST" action = "/addmember")
                                                                                i#icon(onclick = "myFunction()").material-icons person_add
                        else
                            .card
                                .card-body.text  No Users found here!

    script.
        function getusers() {
            users.collection.find({'_id': 10}).sort({_id: -1}).limit(10, function (e, d) {
            })

        }
        document.getElementById("searchbar").addEventListener('keyup', () => {
            autocomplete(document.getElementById("searchbar").value);
        });

        function autocomplete(value) {
            if (value == "") {
                document.getElementById("datalist").innerHTML = "";
                return;
            }
            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var result = JSON.parse(xhttp.responseText);
                    document.getElementById("datalist").innerHTML = "";
                    for (var i = 0; i < result.length; i++) {
                        var node = document.createElement("option");
                        var val = document.createTextNode(result[i].name);
                        node.appendChild(val);
                        document.getElementById("datalist").appendChild(node);
                    }
                }
            };

            xhttp.open("GET", "/search/list/" + value, true);
            xhttp.send();
        }

        function filterList() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("searchbar");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

        function myFunction() {
            document.getElementById("icon").innerHTML = "check_circle";
        }


