extends homepage.pug

block css
    style
        include ../public/stylesheets/homepage.css
        include ../public/stylesheets/myartifacts.css

block content
    .container-fluid.fill-height.fade-in
        .row
            .col
            .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                if(session)
                    h2.text-center My Artifacts
            .col.text-right
                //if (admin)
                a.btn.btn-outline-secondary.btn-sm.mr-3(href='/home' data-toggle='modal' data-target='#modaladdartifact')
                    i.fas.fa-add
                    | Add Artifact




                #modaladdartifact.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')

                    .modal-dialog(role='document')
                        form(method='POST' action='/addartifact', enctype = "multipart/form-data")
                            .modal-content
                                .modal-header.text-center
                                    h4.modal-title.w-100.font-weight-bold Add an artifact
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                        span(aria-hidden='true') &times;
                                .modal-body.mx-3
                                    .md-form.mb-5
                                        label.font-weight-bold(for='familyname') Title
                                        input#familyname.form-control(type='text', placeholder='Title*' name='title', required)
                                    .md-form.mb-5
                                        label.font-weight-bold(for='description') Description
                                        .input-group
                                            textarea#description.form-control(type='text', placeholder='Description*', name='description',required)
                                    .md-form.mb-5
                                        p.font-weight-bold Upload Image (optional)
                                        img#preview(src=file)
                                        input#pad( type='file' onchange='previewFile()' name = 'image')
                                    .md-form.mb-5
                                        label.font-weight-bold(for='familyname') Which family does this antique belong to?
                                        select#state(type='text', placeholder='Family Group' name='familygroup', required)
                                            for family in familygroups
                                                option(value=`${family._id}`) #{family.title}

                                .modal-footer.justify-content-center
                                    button.btn.btn-primary(type='submit') Add
        .row
            .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3
                nav-collapse.fixed-left.dropdown-menu-left
                    .vertical-menu
                        br
                        a(href='/myartifacts',style="color:#666666;") My Artifacts
                        hr.my-4
                        p(style = "color: dimgrey;") Groups
                        each family in familygroups
                            .row
                                .col-2
                                    i.material-icons group
                                .col-10
                                    a(href = `/view/${family._id}`, style="color:#666666;") #{family.title}
                            br
                        if (familygroups)
                            hr.my-4
                        a(href='/events',style="color:#666666;") Events
                        br
                        br

            .col-xs-12.col-sm-12.col-md-8.col-lg-9.col-xl-9.cardzone
                .row


                    each artifact in artifacts
                        .col-xs-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.justify-content-center.d-flex


                            .card.mb-4.pr-3(style='width: 15rem; height: fit-content; min-width: 15rem; padding-right: 20px;')
                                .d-flex
                                    a(href = `/artifact/view/${artifact._id}`)
                                        img.card-img-top.image-custom(src=artifact.photo, style="width:15rem;height:15rem; overflow: hidden;")

                                        .card-body.flex-fill
                                            .row
                                                h5.card-title #{artifact.title}
                                            .row
                                                p.listingdescription #{artifact.description}
                                        .card-footer
                                            .row
                                                p #{artifact.familygroup}



    // upload image for create group
    script.
        function previewFile() {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function (e) {
                //document.getElementById("b64").innerHTML = e.target.result;
                preview.src = reader.result.toString();
                document.getElementById('b64').value = e.target.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }
