extends layout

block css
    style
        include ../public/stylesheets/homepage.css
        include ../public/stylesheets/family.css

block content
    button(onclick="topFunction()" id="myBtn" title="Go to top")
        i.material-icons keyboard_arrow_up

    .container-fluid.fill-height
        .row
            .col-3

            .col-9.text-center
                if(session)
                    h2 #{member.name}
        .row
            .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3
                nav-collapse.fixed-left.dropdown-menu-left

                    .vertical-menu.mr-4
                        h2.my-4(style = "color: dimgrey;") Groups
                        each family in familygroups
                            .row
                                .col-2
                                    i.material-icons group
                                .col-10
                                    a.tabstyle(href = `/view/${family._id}`) #{family.title}
                        hr.my-4

                        a.tabstyle(href='/myartifacts') My Artifacts

                        hr.my-4
            .col-xs.col-sm-12.col-md-8.col-lg-9.col-xl-9
                .jumbotron.row
                    .col-5.text-center.d-none.d-lg-block.d-xl-block
                        img(src = member.photo style = "width: 15rem; height: 15rem;" )
                    .col-7
                        strong Artifacts:
                        p #{member.artifacts.length}
                        strong Groups:
                        each group in membergroups
                            li #{group.title}
                .row
                    .col
                        h2 #{member.fname}'s Collection
                        hr(style = "background-color: tan; height: 3px;")
                .row
                    .col
                        br
                        if (user.artifacts.length > 0)
                            .row
                                each artifact in artifacts
                                    .col-xs-12.col-sm-6.col-md-8.col-lg-6.col-xl-4.fade-in
                                        .my-2.mx-auto.p-relative.bg-white.shadow-1.blue-hover.pb-0(style='width: 15rem; overflow: hidden; border-radius: 1px;')

                                            a(href = `/artifact/view/${artifact._id}`)
                                                if (artifact.photo)
                                                    img.d-block.w-full(src=artifact.photo, style="width:15rem;height:15rem;min-width: 15rem;")
                                                else
                                                    img.d-block.w-full(src="https://www.softwarearge.com/wp-content/uploads/2018/09/no-image-icon-6.png", style="width:15rem;height:15rem; min-width: 15rem;" alt = artifact.name)


                                                .px-2.py-2
                                                    p.mb-0.small.font-weight-medium.text-uppercase.mb-1.text-muted.lts-2px
                                                        if (artifact.familygroup === "None")
                                                            | Group: #{artifact.familygroup}
                                                        else
                                                            each family in membergroups
                                                                if (family._id.equals(artifact.familygroup))
                                                                    | Group: #{family.title}
                                                                
                                                    h4.mt-0.mb-1.font-weight-bold(style='line-height: 1.25;')
                                                        | #{artifact.title}
                                                    p.mb-1
                                                        | #{artifact.description}


    script.
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
