extends layout

block css
    style
        include ../public/stylesheets/homepage.css
        include ../public/stylesheets/family.css

block content
    .container-fluid.fill-height
        .row

            .col-xs-12.col-sm-12
                .row


                    .col
                    .col-xs-12.col-sm-12.col-md-8.col-lg-8.col-xl-8

                        if(session)
                            h2.text-center #{user.name}
        .row
            .col-xs-12.col-sm-12.col-md-4.col-lg-3.col-xl-3
                nav-collapse.fixed-left.dropdown-menu-left

                    .vertical-menu.mr-4
                        h2.my-4(style = "color: dimgrey;") Groups
                        each family in familygroups
                            .row
                                .col-2
                                    i.material-icons group
                                .col-10
                                    a.tabstyle(href = `/view/${family._id}`) #{family.title}
                        hr.my-4

                        a.tabstyle(href='/myartifacts') My Artifacts

                        if (familygroups)
                            hr.my-4
                        a.tabstyle(href='/events') Events
                        hr.my-4
            .col-xs.col-sm-12.col-md-8.col-lg-9.col-xl-3
                .jumbotron.row
                    .col
                        p Artifacts: #{user.artifacts.length}
                        p Groups: #{user.groups}
                .row
                    .col
                        br
                        if (user.artifacts.length > 0)
                            .row
                                each artifact in artifacts
                                    .col-xs-12.col-sm-6.col-md-8.col-lg-6.col-xl-4.fade-in
                                        .my-2.mx-auto.p-relative.bg-white.shadow-1.blue-hover.pb-0(style='width: 15rem; overflow: hidden; border-radius: 1px;')

                                            a(href = `/artifact/view/${artifact._id}`)
                                                if (artifact.photo)
                                                    img.d-block.w-full(src=artifact.photo, style="width:15rem;height:15rem;min-width: 15rem;")
                                                else
                                                    img.d-block.w-full(src="https://www.softwarearge.com/wp-content/uploads/2018/09/no-image-icon-6.png", style="width:15rem;height:15rem; min-width: 15rem;" alt = artifact.name)


                                                .px-2.py-2
                                                    h4.mt-0.mb-1.font-weight-bold(style='line-height: 1.25;')
                                                        | #{artifact.title}
                                                    p.mb-1
                                                        | #{artifact.description}





