extends layout

block css
    style
        include ../public/stylesheets/login.css


block content
    .container.fade-in
        .row
            .col-xs-12.col-sm-12.text-center
                h2.font-weight-bold Signup
                p
                    | Already have an account?
                    a(href='/login')  Log In
        .row
            .col-md-6.col-lg-6.col-xl-6.signupimg.fade-in

            .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                div.container-fluid
                    br
                    form(method='POST' action='/signup')
                        div.form-group
                            .row
                                .col.col-lg-6.col-xl-6
                                    label.font-weight-bold(for='fname') First Name*
                                    input#fname.form-control(type='text', placeholder='First Name' name='fname', required)
                                .col-lg-6.col-xl-6
                                    label(for = 'lname').font-weight-bold Surname*
                                    input#lname.form-control(type='text', placeholder='Surname' name='lname', required)

                        br
                        div.form-group
                            .row
                                .col
                                    label(for='email').font-weight-bold Email*
                                    input#email.form-control(type='email', placeholder='Email Address' name='email', required)

                        br

                        div.form-group
                            .row
                                .col.col-lg-6.col-xl-6
                                    label(for='email').font-weight-bold Date of Birth*
                                    input.form-control#dob(type='date', placeholder='22/07/2018' name='dob', max='2001-01-01', min='1930-01-01', required)
                                .col-lg-6.col-xl-6
                                    label(for = 'phone').font-weight-bold Phone Number
                                    input.form-control#phone(type='text', placeholder='Phone Number', name='phone')
                        br

                        div.form-group
                            .row
                                .col
                                    label(for='pw').font-weight-bold Password*
                                    input#pw.form-control(type='password', onkeyup="checkPasswords();",
                                        placeholder='Password' name='password', required)
                        br
                        div.form-group
                            .row
                                .col
                                    label(for='pw2').font-weight-bold Confirm Password*
                                    input#pw2.form-control(type='password', onkeyup="checkPasswords();",placeholder='Retype Password' name='confirmPassword',
                                        autocomplete='new-password', required)

                        br
                        .row
                            .col
                                p#pw_message(style="display: none; color: red; font-weight: bold;") Passwords do not match.
                                script.
                                    var checkPasswords = function () {
                                        if (document.getElementById('pw').value ==
                                            document.getElementById('pw2').value) {
                                            document.getElementById('submit').disabled = false;
                                            document.getElementById('pw_message').style.display = 'none';
                                        } else {
                                            document.getElementById('submit').disabled = true;
                                            document.getElementById('pw_message').style.display = 'block';
                                        }
                                    }
                                if (error)
                                    p#errormessage #{error}
                                    script.
                                        window.onload = function () {
                                            document.getElementById('email').value = "#{email}";
                                            document.getElementById('fname').value = "#{fname}";
                                            document.getElementById('lname').value = "#{lname}";
                                            document.getElementById('phone').value = "#{phone}";
                                        }

                        br
                        .form-group
                            .row
                                .col
                                    .form-check
                                        input#invalidCheck.form-check-input(type='checkbox' value='' required='')
                                        label.form-check-label(for='invalidCheck')
                                            | Agree to terms and conditions
                                        .invalid-feedback
                                            | You must agree before submitting.
                        br
                        .text-center
                            button.btn.btn-outline-secondary.page-button#submit(type='submit') Sign Up

    script.
        function activatePlacesSearch() {
            var input = document.getElementById('location');
            var searchbox = new google.maps.places.SearchBox(input);
        }
