extends layout

block css
    style
        include ../public/stylesheets/login.css


block content
    .container(style={'background': 'url(https://images.unsplash.com/photo-1489644484856-f3ddc0adc923?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed;', 'background-size': 'cover;'})
        .row
            .col-cs-12.col-sm-12.white.text-center
                h2.font-weight-bold Signup
                br
        .row
            .col
                //img(src='https://images.unsplash.com/photo-1496776574435-bf184935f729?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80', style='width:100%;')


            .col-xs-12.col-sm-12.col-lg-6.col-xl-6.white
                div.container-fluid.formzone
                    form(method='POST' action='./signup')





        script.
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();

            var checkPasswords = function () {
                if (document.getElementById('pw').value ==
                    document.getElementById('pw2').value) {
                    document.getElementById('submit').disabled = false;
                    document.getElementById('pw_message').style.display = 'none';
                } else {
                    document.getElementById('submit').disabled = true;
                    document.getElementById('pw_message').style.display = 'block';
                }
            }
        if (error)
            p#errormessage #{error}
            script.
                window.onload = function () {
                    document.getElementById('email').value = "#{email}";
                    document.getElementById('fname').value = "#{fname}";
                    document.getElementById('lname').value = "#{lname}";
                    document.getElementById('address').value = "#{address}";
                    document.getElementById('phone').value = "#{phone}";
                    document.getElementById('state').value = "#{state}";
                    document.getElementById('zip').value = "#{zip}";
                }
